<nav>
    <ul id="nav">
        <li class="navlink" id="website-title">
            <a href="#">Mellow Clamour</a>
        </li>
        <li class="navlink"><a class="active" href="#home">Home</a></li>
        <li class="navlink"><a href="#news">News</a></li>
        <li class="navlink"><a href="#contact">Contact</a></li>
        <li class="navlink"><a href="#about">About</a></li>
    </ul>
</nav>